*{
    margin:0;
    padding:0;
}

html, body{
height: 100%;
width: 100%;
font-family: 'Lato', sans-serif, 'Roboto', sans-serif;
overflow-x: hidden;
background:url(https://motionarray.imgix.net/preview-33509CFka6iC1IY_0000.jpg?w=750&fit=max&q=60&auto=format);
box-shadow: inset 0 0 0 1000px rgba(255, 255, 255, 0.9);
background-size: cover;
}

#logo{
    margin:10px 0px;
    float:left;
}

#logo > img{
    width: 75%;
    height:auto;
}

h1{
    padding-top:25px;
    font-weight: 900;
}

.task-form{
    padding-top:25px;
    text-align: center;
}

.addlabel{
    visibility: hidden;
}

.button-green{
    background-color: #0EAD69;
    border: #0EAD69;
    color:#fff;
}

.button-green:hover{
    background-color: #000;
    border: #000;
    color:#fff;
}

tbody{
  
    vertical-align: middle;
}

.remove{
    content: url(../img/ui/delete.png);
    width:30px;
    height: auto;
    cursor: pointer;
    text-align: center;
    margin:0 auto;
}

.remove:hover{
    content: url(../img/ui/deletehover.png);
}

#counters > div{
    text-align: center;
    padding:5px;
}


#normal, #important, #urgent{
    display: none;
}

.priority-box{
text-align: center;
color:#ffffff;
padding:15px;
border-radius: 5px;
}

.red{
    background-color:#BC2C1A;
}

.orange{
    background-color:#DACC3E;
}

.yellow{
    background-color: #7FB7BE;
}

.priority-title{
    width: 75%;
    font-weight: 500;
    padding:0 10px;
    font-weight: bold;
    }

.counter{
    width: 25%;
    min-width: 30px;
    min-height: 30px;
    text-align: center;
    border-radius: 30px;
    border:2px dotted rgb(51, 51, 51);
    padding:5px 10px;
    background-color: white;
    color:#000;
    font-weight: bold;
}

#extra-actions{
    text-align: center;
    display:none;
}

#deleteall, #print{
    color:#000;
    border:1px solid;
    text-align: center;
    min-width: 150px;
}

#deleteall:hover{
    background-color: #000;
    color:#fff;
    border:1px solid #000;
}

#print:hover{
    background-color:#000;
    border:1px solid #000;
}

.printer {
    width: 22px;
    padding:5px;
}

#print:hover > .printer{
    filter:invert(100%);
}

.lightblue{
    color:lightblue;
}

@media (max-width: 550px) {
    .six.columns                    { width: 48%;            }

        h1{
            padding-top:5px;
            font-size: 3rem;
        }

        
        #logo{
            margin:10px 0px 0px 0px;
            float:left;
        }

        #logo > img{
            width: 50%;
            height:auto;
        }

        .date{
            margin: 0 auto;
            text-align: center;
        }
    
        #today-date{
           display: block;
           width:100%;
        }

        .addlabel{
            display: none ;
        }

        #deleteall, #print{
            color:#000;
            border:1px solid;
            text-align: center;
            min-width: 125px;
        }

        #add{
            width: 100%;
        }

        #counters > div{
            width: 32%;
            text-align: center;
            padding:2px;
        }

        .priority-title{
            display: block;
            padding:0;
            padding-top:10px;
            width: 100%;
            font-size: 0.70em;
        }
        

}

@media (max-width: 800px) and (orientation:landscape) {

    .date{
        margin: 0 auto;
        text-align: center;
    }

    #today-date{
        display: block;
       width:100%;
    }

    .seven.columns{
        width: 100%;
    }

    .three.columns, .two.columns{
        width: 45%;
    }

    .priority-title{
        display: block;
        padding:0;
        padding-top:10px;
        width: 100%;
        font-size: 0.75em;
    }


}


@media print {

    html{
        height: auto;;
    }

   button,button[id="deleteall"], input,input[type="submit"], select, label{
       display:none;
       visibility: hidden;
   }

   #logo{
 
    }

    #logo > img{
        width:50%;
        height:auto;
    }
    

   #deleteall{
       display: none;
   }

   .remove, .remove-header{
       display: none;
   }
}

