*{
    margin:0;
    padding:0;
}

html, body{
height: 100%;
width: 100%;
font-family: 'Lato', sans-serif, 'Roboto', sans-serif;
overflow-x: hidden;
background:url(https://motionarray.imgix.net/preview-33509CFka6iC1IY_0000.jpg?w=750&fit=max&q=60&auto=format);
box-shadow: inset 0 0 0 1000px rgba(255, 255, 255, 0.95);
background-size: cover;
}

h1{
    padding-top:25px;
    font-weight: 900;
}

.task-form{
    padding-top:25px;
    text-align: center;
}

.addlabel{
    visibility: hidden;
}

.button-green{
    background-color: #0EAD69;
    border: #0EAD69;
    color:#fff;
}

.button-green:hover{
    background-color: #7FB7BE;
    border: #7FB7BE;
    color:#fff;
}


tbody{
  
    vertical-align: middle;
}

.remove{
    content: url(../img/ui/delete.png);
    width:30px;
    height: auto;
    cursor: pointer;
    text-align: center;
    margin:0 auto;
}

.remove:hover{
    content: url(../img/ui/deletehover.png);
}

#counters > div{
    text-align: center;
    padding:5px;
}


#normal, #important, #urgent{
    display: none;
}

.priority-box{
text-align: center;
color:#ffffff;
padding:15px;
border-radius: 5px;
}

.red{
    background-color:#BC2C1A;
}

.orange{
    background-color:#DACC3E;
}

.yellow{
    background-color: #7FB7BE;
}

.priority-title{
    width: 75%;
    font-weight: 500;
    padding:0 10px;
    font-weight: bold;
    }

.counter{
    width: 25%;
    min-width: 30px;
    min-height: 30px;
    text-align: center;
    border-radius: 30px;
    border:2px dotted rgb(51, 51, 51);
    padding:5px 10px;
    background-color: white;
    color:#000;
    font-weight: bold;
}

#extra-actions{
    text-align: center;
    display:none;
}

#deleteall, #print{
    margin-top:5%;
    color:#000;
    border:1px solid;
    text-align: center;
    min-width: 150px;
}

#deleteall:hover{
    background-color: #000;
    color:#fff;
    border:1px solid #000;
}

#print:hover{
    background-color:#000;
    border:1px solid #000;
}

.printer {
    width: 22px;
    padding:5px;
}

#print:hover > .printer{
    filter:invert(100%);
}

.lightblue{
    color:lightblue;
}

@media print {
   button,button[id="deleteall"], input,input[type="submit"], select, label{
       display:none;
       visibility: hidden;
   }

   #deleteall{
       display: none;
   }

   .remove, .remove-header{
       display: none;
   }
} 
